<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knowei.post.mapper.PostResourceMapper">

    <resultMap id="BaseResultMap" type="PostResource">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <id property="postId" column="post_id" jdbcType="BIGINT"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="openPassword" column="open_password" jdbcType="VARCHAR"/>
        <result property="decompressionPassword" column="decompression_password" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,url,open_password,
        decompression_password,create_time,update_time
    </sql>
</mapper>
